<div class="input">
    {{textarea value=textInput}}
</div>

<div class="output">
    {{#each cipher in ciphers}}
        <div class="cipher-entry">
            <span class="key">{{cipher.translationKey}}</span>
            <span class="text">{{cipher.text}}</span>
        </div>
    {{/each}}
</div>
