html, body {
    margin: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.cipher-entry {
    .input {
        textarea {
            width: ~"calc(100% - 10px)";
            height: 80px;
            border-radius: 4px;
            resize: none;
            padding-top: 15px;
            padding-left: 10px;
            font-size: 18pt;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }
    }

    .output {
        font-size: 18pt;

        .cipher-entry {
            .key {

            }
            .text {

            }
        }
    }
}
